<div class="footer-content">
  <div class="copyright-content">
    <div>
      <div class="container">
        <div class="copyright-text text-center">
          &copy;2019 BDFD - All right Reserved. Personal Maplestory Online
          Information
        </div>
      </div>
    </div>
  </div>
</div>
