<nav class="navbar navbar-expand-lg navbar-dark",
style="background-color: #8218c9">
  <img src="/images/Index_Home/maple_logo.png" alt="Maplestory Logo" style="width:60px;height:60px;">  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="flase" aria-expanded="false">Character Info</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/user/character_info">Character Info List</a>
                <a class="dropdown-item" href="/user/character_name">Character Name List</a>
                <a class="dropdown-item" href="/user/character_category">Character Category List</a>
                <a class="dropdown-item" href="/user/character_class">Character Class List</a>
                <a class="dropdown-item" href="/user/character_job">Character Job List</a>
                <a class="dropdown-item" href="/user/character_professional_skill">Character Professional Skill List</a>
                <a class="dropdown-item" href="/user/character_info/new">Character Info Add</a>
                <a class="dropdown-item" href="/user/character_name/new">Character Name Add</a>
                <a class="dropdown-item" href="/user/character_category/new">Character Category Add</a>
                <a class="dropdown-item" href="/user/character_class/new">Character Class Add</a>
                <a class="dropdown-item" href="/user/character_job/new">Character Job Add</a>
                <a class="dropdown-item" href="/user/character_professional_skill/new">Character Professional Skill Add</a>
          </li>

          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="flase" aria-expanded="false">Equipment Info</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/user/equipment/equipment_info">Equipment Info List</a>
                <a class="dropdown-item" href="/user/equipment/equipment_potential">Equipment Potential List</a>
                <a class="dropdown-item" href="/user/equipment/equipment_info/new">Equipment Info Add</a>
                <a class="dropdown-item" href="/user/equipment/equipment_potential/new">Equipment Potential Add</a>
              </div>
          </li>
          
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="flase" aria-expanded="false">Item Info</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/user/item/item_info">Item Info List</a>
              <a class="dropdown-item" href="/user/item/item_type">Item Type List</a>
              <a class="dropdown-item" href="/user/item/item_info/new">Item Info Add</a>
              <a class="dropdown-item" href="/user/item/item_type/new">Item Type Add</a>
            </div>
          </li>

        <li class="nav-item active">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about" >About Us</a>
        </li>

      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button> 
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
</nav>