<script>
  document.title = 'Add Character Professional Skill Page';
</script>

<h3>
  Add Character Professional Skill Info
</h3>

<form action="/user/character_professional_skill/new" method="post">
  <div class="form-group">
    <label>ID</label>
    <input type="text" class="form-control" name="ID" />
  </div>
  <div class="form-group">
    <label>Type</label>
    <input type="text" class="form-control" name="Type" />
  </div>
  <div class="form-group">
    <label>Level</label>
    <input type="text" class="form-control" name="Level" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button><br />
  <a href="/user/character_professional_skill">
    Go Back To Character Profession Skill List</a
  >
</form>
