<script>
  document.title = 'Add Class Category';
</script>

<h3>
  Add Character Class Info
</h3>
<!-- action="/user/add/character_category" method="post" -->
<form action="/user/character_class/new" method="post">
  <div class="form-group">
    <label>Class_No</label>
    <input type="text" class="form-control" name="Class_No" />
  </div>
  <div class="form-group">
    <label>Class_Name</label>
    <input type="text" class="form-control" name="Class_Name" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
