<script>
    document.title = 'Character Category List';
</script>

<p>Character Category List</p>
<a href="/user/dashboard">Go Back Dashboard</a><br>
<a href="/user/character_category/new">Create New Category</a><br><br>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Category_ID</th>
        <th scope="col">Category_Name</th>   
        <th scope="col">View</th>    
        <th scope="col">Edit</th>    
      </tr>
    </thead>
    <tbody>
    <% for (let i = 0; i <character_category.length; i++) {%>
        <tr>
          <th scope="row"><%=character_category[i].Category_ID%></th>
          <td><%=character_category[i].Category_Name%></td>
          <td><a href="/user/character_category/<%=character_category[i].id%>">View</a></td>
          <td><a href="/user/character_category/<%=character_category[i].id%>/edit">Edit</a></td>       
        </tr>
    <% } %>
    </tbody>
</table>

