<script>
  document.title = 'Add Character Category';
</script>

<h3>
  Add Character Category Info
</h3>

<form action="/user/character_category/new" method="post">
  <div class="form-group">
    <label>Category_ID</label>
    <input type="text" class="form-control" name="Category_ID" />
  </div>
  <div class="form-group">
    <label>Category_Name</label>
    <input type="text" class="form-control" name="Category_Name" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/user/character_category"> Go Back To Character Category List</a>
</form>
