<script>
  document.title = 'Character Professional Skill Detail Page';
</script>

<p>
  View Specific Character Profession Skill Information
</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Type</th>
      <th scope="col">Level</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%=character_professional_skill.ID%></th>
      <th scope="row"><%=character_professional_skill.Type%></th>
      <td><%=character_professional_skill.Level%></td>
      <td>
        <a
          href="/user/character_professional_skill/<%=character_professional_skill.id%>/edit"
          >Edit</a
        >
      </td>
    </tr>
  </tbody>
</table>
