<script>
  document.title = 'Character Class Detail Page';
</script>

<p>
  View Specific Character Class Information
</p>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Class_No</th>
      <th scope="col">Class_Name</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%=character_class.Class_No%></th>
      <td><%=character_class.Class_Name%></td>
      <td>
        <a href="/user/character_class/<%=character_class.id%>/edit">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
