<script>
  document.title = 'User Dashboard Page';
</script>

user function list page<br />
<a href="/user/character_category">Character Category List</a><br />
<a href="/user/add/character_category">Character Category Add</a><br />
<a href="/user/edit/character_category">Character Category Edit</a><br />
<a href="/user/character_class">Character Class List</a><br />
<a href="/user/add/character_class">Character Class Add</a><br />
<a href="/user/edit/character_class">Character Class Edit</a><br />
