<script>
  document.title = 'User Dashboard Page';
</script>

user function list page<br />
<a href="/user/character_category">Character Category List</a><br />
<a href="/user/character_category/new">Character Category Add</a><br />
<br />
<a href="/user/character_class">Character Class List</a><br />
<a href="/user/character_class/new">Character Class Add</a><br />
<br />
<a href="/user/character_job">Character Job List</a><br />
<a href="/user/character_job/new">Character Job Add</a><br />
<br />
<a href="/user/character_professional_skill"
  >Character Professional Skill List</a
><br />
<a href="/user/character_professional_skill/new"
  >Character Professional Skill Add</a
><br />
<br />
<a href="/user/character_info">Character Info List</a><br />
<a href="/user/character_info/new">Character Info Add</a><br />
