<script>
  document.title = 'User Dashboard Page';
</script>

user function list page<br />
<a href="/user/character_category">Character Category List</a><br />
<a href="/user/character_category/new">Character Category Add</a><br />
<a href="/user/character_category/edit">Character Category Edit</a><br />
<a href="/user/character_class">Character Class List</a><br />
<a href="/user/character_class/new">Character Class Add</a><br />
<a href="/user/character_class/edit">Character Class Edit</a><br />
