<!-- To Do List -->
<p>1. Add Delete Function</p>
<p>2. Add Character_Info Schema</p>
<p>3. Add Equipment_Info Schema</p>
<p>4. Add Equipment_Rarity Schema</p>
<p>5. Add Item_Category Schema</p>
<p>6. Add Item_Info Schema</p>
<p>7. Think More Tomorrow</p>
<p>8. Then Start Perform Page UI</p>

<div class="form-group">
  <label for="Class">Class :</label>
  <select class="form-control" name="Class">
    <% character_classes.forEach(character_class => { %>
    <option
      label="<%= character_class.Class_Name %>"
      value="<%= character_class.id %>"
    >
      <% }) %>
    </option></select
  >
</div>
<div class="form-group">
  <label for="Category">Category :</label>
  <select class="form-control" name="Category">
    <% character_categories.forEach(character_category => { %>
    <option
      label="<%= character_category.Category_Name %>"
      value="<%= character_category.id %>"
    >
      <% }) %>
    </option></select
  >
</div>
