<!-- To Do List -->
<p>1. Add Delete Function</p>
<p>2. Add Character_Info Schema</p>
<p>3. Add Equipment_Info Schema</p>
<p>4. Add Equipment_Rarity Schema</p>
<p>5. Add Item_Category Schema</p>
<p>6. Add Item_Info Schema</p>
<p>7. Think More Tomorrow</p>
<p>8. Then Start Perform Page UI</p>
