home page <br />
<a href="/home">Home</a><br />
<a href="/user">User</a><br />
<a href="/character">Character-List</a><br />
<a href="/character/detail">Character-Detail</a><br />
<a href="/equipment">Equipment-Info</a><br />
<a href="/market">Market-Trend</a><br />
<a href="/pet">Pet Index</a><br />
<a href="/note">Article List</a><br />
<a href="/note/01">Article-01</a><br />
<a href="/other">Other-Refence</a><br />
<a href="#">Later Use</a><br />
