<main class="site-wrapper">
  <div class="pt-table desktop-768">
    <div
      class="pt-tablecell page-home relative"
      style="background-image: url(images/Index_Home/MapleStory_Glory_Background.jpg);background-position:center;background-size: cover;"
    >
      <div class="overlay"></div>

      <div class="container">
        <div class="row">
          <div
            class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8"
          >
            <div class="page-title  home text-center">
              <img
                src="images/Index_Home/maple_logo.png"
                style="width: 100px; height:100px;"
                alt="Maple Story Logo"
              /><br />
              <span class="heading-page" style="color:#5939cf">
                Maple Story Online Platfomr
              </span>
              <p class="mt20" style="color:#5939cf">
                www.maplestoryinfo.tk<br />是冒险岛个人账号资料储存中心。
              </p>
            </div>

            <div class="hexagon-menu clear">
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a href="/character" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-universal-access"></i>
                    </span>
                    <span class="title">Character</span>
                    <span class="title">角色信息</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a href="/equipment" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-user-secret"></i>
                    </span>
                    <span class="title">Equipment</span>
                    <span class="title">装备信息</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a href="/market" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fas fa-poll"></i>
                    </span>
                    <span class="title">Market_Trend</span>
                    <span class="title">市场走势</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a href="/pet" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-paw"></i>
                    </span>
                    <span class="title">Pet</span>
                    <span class="title">宠物信息</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a href="/note" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-clipboard"></i>
                    </span>
                    <span class="title">Note</span>
                    <span class="title">小技巧专栏</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a
                  href="http://maplestory.nexon.net"
                  target="_blank"
                  class="hex-content"
                >
                  <span class="hex-content-inner">
                    <!-- <span class="icon">
                        <i class="fa fa-clipboard"></i>
                      </span>
                      <span class="title">COURSE</span>
                      <span class="title">课程学习</span> -->
                    <img
                      src="images/Index_Home/maple_logo.png"
                      style="width:100px; height:100px;"
                      alt="Maplestory Logo"
                    />
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a href="/other" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-map-signs"></i>
                    </span>
                    <span class="title">Reference</span>
                    <span class="title">参考文献</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
