<div
  id="particles-js"
  style="display: flex;align-items: center;justify-content: center"
></div>
<div class="login-page">
  <div class="login-content">
    <img
      class="login-pic"
      width="1200"
      src="images/Login/Maplestory.jpg"
      alt="Maplestory Photo"
    /><br />
    <a href="/home"
      ><img
        class="login-signature"
        src="images/Login/Enter_Button.png"
        alt="Enterance Button"
    /></a>
  </div>
</div>
